.article-form {
  grid-column: 2 / 12;
  padding: 2rem;

  .form-group {
    display: block;
    padding: 1.5rem;

    label {
      margin-right: 2rem;
      font-size: 1.7rem;
    }

    .content-label {
      display: block;
      margin-bottom: 2rem;
    }

    .image-input {
      width: 50rem;
      background-color: white;
    }

    input {
      height: 2.7rem;
      border-radius: 7px;
      background-color: $text-color-nav;
      padding: 1rem;
      width: 70%;

      &:focus {
        outline: none;
        background-color: white;
      }
    }

    textarea {
      display: block;
      padding: 1.5rem;
      margin-top: 5rem;
      width: 70%;
    }
  }
}
