.btn-trans {
  color: $color-secondary;
  border: 1px solid $color-primary;
  border-radius: 50px;
  padding: 10px 15px;
  font-weight: lighter;
  opacity: 0.6;

  &:hover {
    opacity: 1;
    text-decoration: none;
    color: inherit;
  }
}

.btn-flat {
  color: white;
  display: inline-block;
  width: 12rem;
  border-radius: 15px;
  padding: 10px 20px;
  font-weight: bolder;
  background-color: $color-two;
  text-decoration: none;
  box-shadow: $box-shadow-dark;
  font-size: 1.6rem;

  &:hover {
    color: white;
    text-decoration: none;
    background-color: darken($color: $text-color-nav, $amount: 30%);
    cursor: pointer;
  }
}

.btn-flat-news {
  color: white;
  display: inline-block;
  width: 7rem;
  border-radius: 15px;
  padding: 10px 20px;
  font-weight: bolder;
  background-color: darken($color: $text-color-nav, $amount: 20%);
  text-decoration: none;
  box-shadow: $box-shadow-dark;
  font-size: 1.6rem;

  &:hover {
    color: white;
    text-decoration: none;
    background-color: darken($color: $text-color-nav, $amount: 30%);
    cursor: pointer;
  }
}
